{% extends 'base.html' %}
{% block content %} 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">First Publication</th>
                <th scope="col">Last Publication</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.book_name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.category}}</td>
                <td>{{book.first_pub}}</td>
                <td>{{book.last_pub}}</td>
                <td><a class="btn btn-warning btn-sm" href="{% url 'edit_book' id=book.id %}">Edit</a> <a class="btn btn-danger btn-sm" href="{% url 'delete_book' id=book.id %}">Delete</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}