{% extends 'base.html' %}
{% block content %} 
    {% if books %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">First Publication</th>
                    <th scope="col">Last Publication</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td><a href="{% url 'book_details' book.id %}">{{book.book_name}}</a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.first_pub}}</td>
                        <td>{{book.last_pub}}</td>
                        <td><a class="btn btn-warning btn-sm" href="{% url 'edit_book' pk=book.id %}">Edit</a> <a class="btn btn-danger btn-sm" href="{% url 'delete_book' pk=book.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No Data Found</h1>
    {% endif %}
{% endblock %}